body {
  background-color: lightcyan;
  font-family: sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 50px;
  background-color: white;
  border-radius: 20px;
}

img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.main-picture {
  width: 260px;
  height: 260px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.traditional-clothing {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

h1,
h2 {
  color: darkblue;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

button {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 20px;
}

a {
  color: darkblue;
  text-decoration: none;
}
